.uri{
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
	font-family: 'Times New Roman', Times, serif;
}
p{
	font-family: 'Courier New', Courier, monospace;
}
a.uri{
	font-family: 'Courier New', Courier, monospace;
	color: red;
}
/*body{
	background-image: url(imagens/frio.jpg);
	background-repeat: no-repeat;
	background-size: 100% 200%;
}*/