.uri{
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: green;
}
h1{
	font-family: 'Times New Roman', Times, serif;
	padding: 1% 2% 1% 17%;
}
p{
	font-family: 'Courier New', Courier, monospace;
	padding: 0%  1%;
}
#listas_e_imagem{
	padding-left: 80% ;
}
/*body{
	background-image: url(imagens/frio.jpg);
	background-repeat: no-repeat;
	background-size: 100% 200%;
}*/
body{
	background-color:peru;
}
#div1{
	width: 60%;
	margin: auto;
	background-color: lightgrey;
}
/*não funciona*/
#footer_index{
	margin: 27% 90% 1% 1%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#footer_listas{
	margin: 6% 90% 1% 1%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}