.uri {
    /*text-decoration: none;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}
.body_imagens{
    width: 75%;
    margin: auto;
    background-color: rgb(235, 233, 225);
    border-radius: 1em;
}

.body_imagens img{
   padding-left: 6em;
}

h1 {
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    padding: 0.5em 2em 0.5em 3em;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 3em;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 2em;
}

p {
    font-family: 'Courier New', Courier, monospace;
    padding: 0% 1%;
}

hr {
    color: rgb(241, 167, 28);
    border: 2px solid;
}

body {
    background-image: url(imagens/wood_2.jpg);
    background-repeat: no-repeat;
    background-size: 200% 100%;
}

p a{
    padding-left: 42em;
}
section img{
    padding-left: 5em;
}


/*body {
    background-color: rgb(73, 153, 93);
}*/


#decription_index p{
    padding: 2em 2em 0.5em 3em;
}

#listas_e_imagem {
    padding-left: 70%;
}

#div_body {
    width: 60%;
    margin: auto;
    background-color: rgb(235, 233, 225);
    border-radius: 1em;
}
#div_header{
    width: 60%;
    margin: auto;
    background-color: rgb(235, 233, 225);
    border-radius: 1em;
}

#div1Gerador {
    width: 40%;
    margin: auto;
}

#footer_index {
    margin: 27% 90% 1% 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer_listas {
    margin: 6% 90% 1% 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer_gerador {
    margin: 5% 90% 1% 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}