.uri{
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: green;
}
h1{
	font-family: 'Times New Roman', Times, serif;
}
p{
	font-family: 'Courier New', Courier, monospace;
}

/*body{
	background-image: url(imagens/frio.jpg);
	background-repeat: no-repeat;
	background-size: 100% 200%;
}*/
body{
	background-color:peru;
}